<div class="topHeadlines">
  <div class="left">
    <div class="title">
      <h2>Breaking News</h2>
    </div>
    <div class="img" id="breakingImg">

    </div>
    <div class="text" id="breakingNews">
      <div class="title">

      </div>
      <div class="description">
      </div>
    </div>
  </div>
  <div class="right">
    <div class="title">
      <h2>Top Headlines</h2>
    </div>
    <div class="topNews">

    </div>

  </div>
</div>

<div class="page2">
  <div class="news" id="sportsNews">
      <div class="title">
          <h2>Thể Thao</h2>
      </div>
      <div class="newsBox">
      </div>
  </div>
  <div class="news" id="educationNews">
      <div class="title">
          <h2>Giáo dục</h2>
      </div>
      <div class="newsBox">
      </div>
  </div>
  <div class="news" id="techNews">
      <div class="title">
          <h2>Công Nghệ</h2>
      </div>
      <div class="newsBox">
      </div>
  </div>
</div>