<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <%- include('./partials/backhome.ejs') %>
    <div class="form">
        <h1 class="form_title">Đăng nhập</h1>
        <form action="/login" method="post">
            <div class="form_group">
                <label for="username" class="form_label">Email đăng nhập</label>
                <input required type="text" id="username" class="form_control" name="email">
            </div>
            <div class="form_group">
                <label for="password" class="form_label">Mật khẩu</label>
                <input required type="text" id="password" class="form_control" name="password">
            </div>
            <div class="btn_submit"><input type="submit" value="Đăng nhập"></div>
            <div class="link_page">Chưa có tài khoản <a href="/sign-up">Đăng ký</a></div>
        </form>
    </div>
</body>

</html>