* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: #eee;
}

header,
footer {
    background-color: ghostwhite;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
}

main {
    background-color: cornsilk;
    padding: 20px;
}

.wrapper {
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
}

.main_content {
    margin: 10px 0;
}

.layout_sidebar {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    margin: 10px 0;
}