* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    background-color: #eee;
}

header,
footer {
    background-color: ghostwhite;
}

header {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

header .user {
    position: relative;
    padding: 20px 0;
    cursor: pointer;
}

header .signin {
    padding: 20px 0;
}

header  .user_option {
    list-style-type: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color:#fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transform: scaleY(0);
    transition: 0.3s;
    transform-origin: top;
}

header .user:hover .user_option {
    transform: scaleY(1);
}

header .user_option li {
    padding: 8px;
    min-width: 180px
}

header .user_option li i {
    min-width: 20px
}

header .user_option li a {
    text-decoration: none;
    color: #000;
}

header .user_option li:hover a {
    text-decoration: underline;
}

main {
    background-color: cornsilk;
    padding: 20px;
}

.wrapper {
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
}

.main_content {
    margin: 10px 0;
}

.layout_sidebar {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    margin: 10px 0;
}