<header>
  <div class="logo">
    TIN TỨC
  </div>
  <nav>
    <ul>
      <li><a href="#">Trang chủ</a></li>
      <li><a href="#sportsNews">Thể Thao</a></li>
      <li><a href="#educationNews">Giáo dục</a></li>
      <li><a href="#techNews">Công Nghệ</a></li>
    </ul>
    <div class="bar">
      <i class="open fa-solid fa-bars-staggered"></i>
      <i class="close fa-solid fa-xmark"></i>
    </div>
  </nav>
  <div class="login">
    <% if(typeof user==='string' && user) { %>
      <div class="user_header">
        <p class="username">Xin chào <%= user %> <i class="fa-sharp fa-solid fa-chevron-down"></i></p>
        <ul class="user_option">
          <li><a href="#"><i class="fa-regular fa-user"></i> Trang cá nhân</a></li>
          <li><a href="#"><i class="fa-sharp fa-solid fa-bookmark"></i> Đang theo dõi</a></li>
          <li><a href="/logout"><i class="fa-sharp fa-solid fa-arrow-right-from-bracket"></i> Đăng xuất</a></li>
        </ul>
      </div>
    <% } else { %>
      <p class="signin"><a href="/sign-in">Đăng nhập / Đăng ký</a></p>
    <% } %>
  </div>
</header>