<h1 class="admin_heading">Tin Tức</h1>
<ul class="admin_nav">
  <li><a href="#">Quản lý tài khoản</a></li>
  <li><a href="#">Dashboard</a></li>
  <li><a href="/admin/manager-news">Quản lý bài viết</a></li>
  <li><a href="/admin/write-news">Viết bài</a></li>
  <li><a href="#">Thể thao</a></li>
  <li><a href="#">Giáo dục</a></li>
  <li><a href="#">Công nghệ</a></li>
</ul>